body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

header {
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px 15px 0 0;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  header .userId {
    background: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 8px 12px; }
  header .user {
    padding: 10px;
    border-radius: 50%;
    line-height: 1;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }

.background-stripes {
  overflow: hidden;
  height: 100vh;
  width: 100vw; }
  .background-stripes svg {
    -webkit-transform: scale(3);
            transform: scale(3);
    -webkit-transform: scale(4);
            transform: scale(4);
    -webkit-transform-origin: 40% 20%;
            transform-origin: 40% 20%; }
    .background-stripes svg line {
      stroke: #ccc !important;
      -webkit-animation-name: animate-background;
              animation-name: animate-background;
      -webkit-animation-duration: 3s;
              animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate;
      -webkit-animation-timing-function: ease;
              animation-timing-function: ease;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both; }
      .background-stripes svg line:nth-child(1) {
        -webkit-animation-delay: 0.0555555556s;
                animation-delay: 0.0555555556s; }
      .background-stripes svg line:nth-child(2) {
        -webkit-animation-delay: 0.1111111111s;
                animation-delay: 0.1111111111s; }
      .background-stripes svg line:nth-child(3) {
        -webkit-animation-delay: 0.1666666667s;
                animation-delay: 0.1666666667s; }
      .background-stripes svg line:nth-child(4) {
        -webkit-animation-delay: 0.2222222222s;
                animation-delay: 0.2222222222s; }
      .background-stripes svg line:nth-child(5) {
        -webkit-animation-delay: 0.2777777778s;
                animation-delay: 0.2777777778s; }
      .background-stripes svg line:nth-child(6) {
        -webkit-animation-delay: 0.3333333333s;
                animation-delay: 0.3333333333s; }
      .background-stripes svg line:nth-child(7) {
        -webkit-animation-delay: 0.3888888889s;
                animation-delay: 0.3888888889s; }
      .background-stripes svg line:nth-child(8) {
        -webkit-animation-delay: 0.4444444444s;
                animation-delay: 0.4444444444s; }
      .background-stripes svg line:nth-child(9) {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s; }
      .background-stripes svg line:nth-child(10) {
        -webkit-animation-delay: 0.5555555556s;
                animation-delay: 0.5555555556s; }
      .background-stripes svg line:nth-child(11) {
        -webkit-animation-delay: 0.6111111111s;
                animation-delay: 0.6111111111s; }
      .background-stripes svg line:nth-child(12) {
        -webkit-animation-delay: 0.6666666667s;
                animation-delay: 0.6666666667s; }
      .background-stripes svg line:nth-child(13) {
        -webkit-animation-delay: 0.7222222222s;
                animation-delay: 0.7222222222s; }
      .background-stripes svg line:nth-child(14) {
        -webkit-animation-delay: 0.7777777778s;
                animation-delay: 0.7777777778s; }
      .background-stripes svg line:nth-child(15) {
        -webkit-animation-delay: 0.8333333333s;
                animation-delay: 0.8333333333s; }
      .background-stripes svg line:nth-child(16) {
        -webkit-animation-delay: 0.8888888889s;
                animation-delay: 0.8888888889s; }
      .background-stripes svg line:nth-child(17) {
        -webkit-animation-delay: 0.9444444444s;
                animation-delay: 0.9444444444s; }
      .background-stripes svg line:nth-child(18) {
        -webkit-animation-delay: 1s;
                animation-delay: 1s; }
      .background-stripes svg line:nth-child(19) {
        -webkit-animation-delay: 1.0555555556s;
                animation-delay: 1.0555555556s; }
      .background-stripes svg line:nth-child(20) {
        -webkit-animation-delay: 1.1111111111s;
                animation-delay: 1.1111111111s; }
      .background-stripes svg line:nth-child(21) {
        -webkit-animation-delay: 1.1666666667s;
                animation-delay: 1.1666666667s; }
      .background-stripes svg line:nth-child(22) {
        -webkit-animation-delay: 1.2222222222s;
                animation-delay: 1.2222222222s; }
      .background-stripes svg line:nth-child(23) {
        -webkit-animation-delay: 1.2777777778s;
                animation-delay: 1.2777777778s; }
      .background-stripes svg line:nth-child(24) {
        -webkit-animation-delay: 1.3333333333s;
                animation-delay: 1.3333333333s; }
      .background-stripes svg line:nth-child(25) {
        -webkit-animation-delay: 1.3888888889s;
                animation-delay: 1.3888888889s; }
      .background-stripes svg line:nth-child(26) {
        -webkit-animation-delay: 1.4444444444s;
                animation-delay: 1.4444444444s; }
      .background-stripes svg line:nth-child(27) {
        -webkit-animation-delay: 1.5s;
                animation-delay: 1.5s; }
      .background-stripes svg line:nth-child(28) {
        -webkit-animation-delay: 1.5555555556s;
                animation-delay: 1.5555555556s; }
      .background-stripes svg line:nth-child(29) {
        -webkit-animation-delay: 1.6111111111s;
                animation-delay: 1.6111111111s; }
      .background-stripes svg line:nth-child(30) {
        -webkit-animation-delay: 1.6666666667s;
                animation-delay: 1.6666666667s; }
      .background-stripes svg line:nth-child(31) {
        -webkit-animation-delay: 1.7222222222s;
                animation-delay: 1.7222222222s; }
      .background-stripes svg line:nth-child(32) {
        -webkit-animation-delay: 1.7777777778s;
                animation-delay: 1.7777777778s; }
      .background-stripes svg line:nth-child(33) {
        -webkit-animation-delay: 1.8333333333s;
                animation-delay: 1.8333333333s; }
      .background-stripes svg line:nth-child(34) {
        -webkit-animation-delay: 1.8888888889s;
                animation-delay: 1.8888888889s; }
      .background-stripes svg line:nth-child(35) {
        -webkit-animation-delay: 1.9444444444s;
                animation-delay: 1.9444444444s; }
      .background-stripes svg line:nth-child(36) {
        -webkit-animation-delay: 2s;
                animation-delay: 2s; }
      .background-stripes svg line:nth-child(37) {
        -webkit-animation-delay: 2.0555555556s;
                animation-delay: 2.0555555556s; }
      .background-stripes svg line:nth-child(38) {
        -webkit-animation-delay: 2.1111111111s;
                animation-delay: 2.1111111111s; }
      .background-stripes svg line:nth-child(39) {
        -webkit-animation-delay: 2.1666666667s;
                animation-delay: 2.1666666667s; }
      .background-stripes svg line:nth-child(40) {
        -webkit-animation-delay: 2.2222222222s;
                animation-delay: 2.2222222222s; }
      .background-stripes svg line:nth-child(41) {
        -webkit-animation-delay: 2.2777777778s;
                animation-delay: 2.2777777778s; }
      .background-stripes svg line:nth-child(42) {
        -webkit-animation-delay: 2.3333333333s;
                animation-delay: 2.3333333333s; }
      .background-stripes svg line:nth-child(43) {
        -webkit-animation-delay: 2.3888888889s;
                animation-delay: 2.3888888889s; }
      .background-stripes svg line:nth-child(44) {
        -webkit-animation-delay: 2.4444444444s;
                animation-delay: 2.4444444444s; }
      .background-stripes svg line:nth-child(45) {
        -webkit-animation-delay: 2.5s;
                animation-delay: 2.5s; }
      .background-stripes svg line:nth-child(46) {
        -webkit-animation-delay: 2.5555555556s;
                animation-delay: 2.5555555556s; }
      .background-stripes svg line:nth-child(47) {
        -webkit-animation-delay: 2.6111111111s;
                animation-delay: 2.6111111111s; }
      .background-stripes svg line:nth-child(48) {
        -webkit-animation-delay: 2.6666666667s;
                animation-delay: 2.6666666667s; }
      .background-stripes svg line:nth-child(49) {
        -webkit-animation-delay: 2.7222222222s;
                animation-delay: 2.7222222222s; }
      .background-stripes svg line:nth-child(50) {
        -webkit-animation-delay: 2.7777777778s;
                animation-delay: 2.7777777778s; }
      .background-stripes svg line:nth-child(51) {
        -webkit-animation-delay: 2.8333333333s;
                animation-delay: 2.8333333333s; }
      .background-stripes svg line:nth-child(52) {
        -webkit-animation-delay: 2.8888888889s;
                animation-delay: 2.8888888889s; }
      .background-stripes svg line:nth-child(53) {
        -webkit-animation-delay: 2.9444444444s;
                animation-delay: 2.9444444444s; }
      .background-stripes svg line:nth-child(54) {
        -webkit-animation-delay: 3s;
                animation-delay: 3s; }
      .background-stripes svg line:nth-child(55) {
        -webkit-animation-delay: 3.0555555556s;
                animation-delay: 3.0555555556s; }
      .background-stripes svg line:nth-child(56) {
        -webkit-animation-delay: 3.1111111111s;
                animation-delay: 3.1111111111s; }
      .background-stripes svg line:nth-child(57) {
        -webkit-animation-delay: 3.1666666667s;
                animation-delay: 3.1666666667s; }
      .background-stripes svg line:nth-child(58) {
        -webkit-animation-delay: 3.2222222222s;
                animation-delay: 3.2222222222s; }
      .background-stripes svg line:nth-child(59) {
        -webkit-animation-delay: 3.2777777778s;
                animation-delay: 3.2777777778s; }
      .background-stripes svg line:nth-child(60) {
        -webkit-animation-delay: 3.3333333333s;
                animation-delay: 3.3333333333s; }
      .background-stripes svg line:nth-child(61) {
        -webkit-animation-delay: 3.3888888889s;
                animation-delay: 3.3888888889s; }
      .background-stripes svg line:nth-child(62) {
        -webkit-animation-delay: 3.4444444444s;
                animation-delay: 3.4444444444s; }
      .background-stripes svg line:nth-child(63) {
        -webkit-animation-delay: 3.5s;
                animation-delay: 3.5s; }
      .background-stripes svg line:nth-child(64) {
        -webkit-animation-delay: 3.5555555556s;
                animation-delay: 3.5555555556s; }
      .background-stripes svg line:nth-child(65) {
        -webkit-animation-delay: 3.6111111111s;
                animation-delay: 3.6111111111s; }
      .background-stripes svg line:nth-child(66) {
        -webkit-animation-delay: 3.6666666667s;
                animation-delay: 3.6666666667s; }
      .background-stripes svg line:nth-child(67) {
        -webkit-animation-delay: 3.7222222222s;
                animation-delay: 3.7222222222s; }
      .background-stripes svg line:nth-child(68) {
        -webkit-animation-delay: 3.7777777778s;
                animation-delay: 3.7777777778s; }
      .background-stripes svg line:nth-child(69) {
        -webkit-animation-delay: 3.8333333333s;
                animation-delay: 3.8333333333s; }
      .background-stripes svg line:nth-child(70) {
        -webkit-animation-delay: 3.8888888889s;
                animation-delay: 3.8888888889s; }
      .background-stripes svg line:nth-child(71) {
        -webkit-animation-delay: 3.9444444444s;
                animation-delay: 3.9444444444s; }
      .background-stripes svg line:nth-child(72) {
        -webkit-animation-delay: 4s;
                animation-delay: 4s; }
      .background-stripes svg line:nth-child(73) {
        -webkit-animation-delay: 4.0555555556s;
                animation-delay: 4.0555555556s; }
      .background-stripes svg line:nth-child(74) {
        -webkit-animation-delay: 4.1111111111s;
                animation-delay: 4.1111111111s; }
      .background-stripes svg line:nth-child(75) {
        -webkit-animation-delay: 4.1666666667s;
                animation-delay: 4.1666666667s; }
      .background-stripes svg line:nth-child(76) {
        -webkit-animation-delay: 4.2222222222s;
                animation-delay: 4.2222222222s; }
      .background-stripes svg line:nth-child(77) {
        -webkit-animation-delay: 4.2777777778s;
                animation-delay: 4.2777777778s; }
      .background-stripes svg line:nth-child(78) {
        -webkit-animation-delay: 4.3333333333s;
                animation-delay: 4.3333333333s; }
      .background-stripes svg line:nth-child(79) {
        -webkit-animation-delay: 4.3888888889s;
                animation-delay: 4.3888888889s; }
      .background-stripes svg line:nth-child(80) {
        -webkit-animation-delay: 4.4444444444s;
                animation-delay: 4.4444444444s; }
      .background-stripes svg line:nth-child(81) {
        -webkit-animation-delay: 4.5s;
                animation-delay: 4.5s; }
      .background-stripes svg line:nth-child(82) {
        -webkit-animation-delay: 4.5555555556s;
                animation-delay: 4.5555555556s; }
      .background-stripes svg line:nth-child(83) {
        -webkit-animation-delay: 4.6111111111s;
                animation-delay: 4.6111111111s; }
      .background-stripes svg line:nth-child(84) {
        -webkit-animation-delay: 4.6666666667s;
                animation-delay: 4.6666666667s; }
      .background-stripes svg line:nth-child(85) {
        -webkit-animation-delay: 4.7222222222s;
                animation-delay: 4.7222222222s; }
      .background-stripes svg line:nth-child(86) {
        -webkit-animation-delay: 4.7777777778s;
                animation-delay: 4.7777777778s; }
      .background-stripes svg line:nth-child(87) {
        -webkit-animation-delay: 4.8333333333s;
                animation-delay: 4.8333333333s; }
      .background-stripes svg line:nth-child(88) {
        -webkit-animation-delay: 4.8888888889s;
                animation-delay: 4.8888888889s; }
      .background-stripes svg line:nth-child(89) {
        -webkit-animation-delay: 4.9444444444s;
                animation-delay: 4.9444444444s; }
      .background-stripes svg line:nth-child(90) {
        -webkit-animation-delay: 5s;
                animation-delay: 5s; }
      .background-stripes svg line:nth-child(91) {
        -webkit-animation-delay: 5.0555555556s;
                animation-delay: 5.0555555556s; }
      .background-stripes svg line:nth-child(92) {
        -webkit-animation-delay: 5.1111111111s;
                animation-delay: 5.1111111111s; }
      .background-stripes svg line:nth-child(93) {
        -webkit-animation-delay: 5.1666666667s;
                animation-delay: 5.1666666667s; }
      .background-stripes svg line:nth-child(94) {
        -webkit-animation-delay: 5.2222222222s;
                animation-delay: 5.2222222222s; }
      .background-stripes svg line:nth-child(95) {
        -webkit-animation-delay: 5.2777777778s;
                animation-delay: 5.2777777778s; }
      .background-stripes svg line:nth-child(96) {
        -webkit-animation-delay: 5.3333333333s;
                animation-delay: 5.3333333333s; }
      .background-stripes svg line:nth-child(97) {
        -webkit-animation-delay: 5.3888888889s;
                animation-delay: 5.3888888889s; }
      .background-stripes svg line:nth-child(98) {
        -webkit-animation-delay: 5.4444444444s;
                animation-delay: 5.4444444444s; }
      .background-stripes svg line:nth-child(99) {
        -webkit-animation-delay: 5.5s;
                animation-delay: 5.5s; }
      .background-stripes svg line:nth-child(100) {
        -webkit-animation-delay: 5.5555555556s;
                animation-delay: 5.5555555556s; }

.stripes {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 50vh;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  overflow: hidden; }
  .stripes svg {
    -webkit-transform: scale(5.5) rotate(270deg);
            transform: scale(5.5) rotate(270deg); }

.bubbles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .bubbles .user {
    background: #3ed678;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 8px;
    font-size: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }

@-webkit-keyframes animate-background {
  from {
    stroke-width: 20px; }
  to {
    stroke-width: 5px; } }

@keyframes animate-background {
  from {
    stroke-width: 20px; }
  to {
    stroke-width: 5px; } }
@-webkit-keyframes background-transforms {
  from {
    -webkit-transform: scale(4) rotate(0deg);
            transform: scale(4) rotate(0deg); }
  from {
    -webkit-transform: scale(4) rotate(360deg);
            transform: scale(4) rotate(360deg); } }
@keyframes background-transforms {
  from {
    -webkit-transform: scale(4) rotate(0deg);
            transform: scale(4) rotate(0deg); }
  from {
    -webkit-transform: scale(4) rotate(360deg);
            transform: scale(4) rotate(360deg); } }

/*# sourceMappingURL=style.css.map */